
/* ---SPECIFICATIONS--- */

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 0;
	margin: 0;
	color: #301229;
    background-color: #FAF7F9;
    overflow-x: hidden;
}
.title-text{
    font-size: 42px;
    line-height: 1.18em;
    display: flex;
}
html{
    scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}
h1, h2 {
    font-family: 'Prata', serif, sans-serif;
    font-weight: 400;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
p, span {
	margin: 0;
	padding: 0;
}
img {
	display: block;
	max-width: 100%;
}
.container {
	max-width: 1160px;
	margin: 0 auto;
}
button {
	display: block;
	padding: 0;
	margin: 0;
}
input{
	margin: 0;
	padding: 0;
}

/* ---LOADER--- */

.loader-wrapper{
    width: 100%;
    height: 100%;
    background: #F3E7F1;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader{
    width: 75px;
    height: 75px;
    border: 10px solid #eebfe4;
    border-radius: 50%;
    border-left-color: #DB4FBD;
    animation: loader 1.3s linear infinite;
}
@keyframes loader{
    100%{
        transform: rotate(360deg);
    }
}
.loader-out{
    opacity: 0;
}

/* ----HEADER---- */

.header{
    position: fixed;
    z-index: 20;
    width: 100%;
    top:0;
    left: 0;
    margin: auto;
    padding-bottom: 10px;
    background-color: #FAF7F9;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(20% 100% at 100% 100%, rgba(252, 213, 244, 0.7) 0,rgba(255, 232, 250,0)),
                radial-gradient(25% 40% at 100% 0%, rgba(252, 213, 244, 0.7) 0,rgba(255, 232, 250,0));
}
.header-body{
    max-width: 1160px;
    margin: auto;
}
.nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 10;
}
.logo {
    background: url(../img/logo-nav.svg) no-repeat center center/contain;
    width: 164px;
    max-width: 100%;
    height: 34px;
    display: block;
    z-index: 10;
}
.menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.menu-list__item,.burger-menu__item{
    padding-top: 30px;
    text-align: center;
    transition: 0.5s ease;
    transition-property: border;
    border-top: 3px solid transparent;
}
.menu-list__item a,.burger-menu__item a {
    font-size: 14px;
    text-transform: uppercase;
    color: #896982;
}
.menu-list__item a:hover{
    color: #301229;
}
.menu-list__item:hover{
    cursor: pointer;
    border-top: 3px solid #C136A4;
}
.menu-list__item:not(:last-child) {
    margin-right: 48px;
}

/* ---BURGER-MENU--- */

.burger-menu{
    position: fixed;
    width: 100%;
    height: 40%;
    top: -350px;
    left:0;
    background-color: #FAF7F9;
    transition: all 0.5s ease;
    z-index: -22;
}
.burger-menu.vision{
    top: 28px;
}
.burger-menu__item{
    padding-top: 20px;
}
.burger-menu__item a{
    color: #301229;
}
.burger-btn{
    display: none;
}
.tel-box,.burger-tel {
    display: flex;
    align-items: center;
    z-index: 10;
    justify-content: center;
}
.menu-tel {
    color: #301229;
    font-weight: 500;
}
.img-tel {
    background: url(../img/icon-tel.svg) no-repeat center center/cover;
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 11px;
    cursor: pointer;
}

/* ----OFFER-SECTION--- */

.offer-section{
	background: radial-gradient(25% 50% at 0% 100%, rgba(252, 213, 244, 0.7),rgba(255, 232, 250,0)),
                radial-gradient(25% 40% at 100% 0%, rgba(252, 213, 244, 0.7) 0,rgba(255, 232, 250,0));
    padding-bottom: 168px;
}
.offer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.offer {
    max-width: 459px;  
}
.offer-text{
    font-size: 50px;
    line-height: 1.18em;
    margin-top: 40px;
}
.offer-desc {
    font-size: 20px;
    color: #896982;
    margin: 17px 0 42px 0;
    max-width: 349px;
}
.offer-btn{
    font-size: 14px;
    text-transform: uppercase;
    background-color: #C136A4;
    color: #FFFFFF;
    text-align: center;
    padding: 23px 67px;
    border: none;
    letter-spacing: 0.04em;
    width: 264px;
    height: 63px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.offer-btn:hover{
    background-color: #DB4FBD;
}

/* ----MODAL WINDOW---- */

.modal-wrapper{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    position: absolute;
    z-index: 21;
}
.modal-window{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 478px;
    height: 450px;
    z-index: 10;
    background-color: #FAF7F9;
    position: fixed;
    text-align: center;
}
#overlay-order {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #797f82;
    opacity: 0.5;
    position: fixed;
}
.form-text{
    font-size: 42px;
    color: #301229;
}
.form-desc{
    color: #301229;
    margin: 12px auto 27px;
    max-width: 320px;
}
.modal-close{
    background: none;
    border: none;
    cursor: pointer;
    margin: 18px 18px 0 auto;
}
.close-btn{
    width: 20px;
    height: 20px;
}

/* ---FORM-MODAL--- */

.form-offer{
    display: flex;
    flex-direction: column;
    max-width: 313px;
    margin: auto;
}
.form-input{
    height: 29px;
    background: none;
    border: none;
    width: 100%;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.form-input::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #B3B7BB;
}
.input-box__name,.input-box__tel{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #B3B7BB;
    margin-bottom: 26px;
}
.input-box__name:hover,
.input-box__tel:hover,
.form-input:hover::placeholder
{
    border-color:#301229;
    color: #301229;
}
.input-box__name::before{
    content: '';
    background: url(../img/icon-input.svg)no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 13px;
}
.input-box__tel::before{
    content: '';
    background: url(../img/icon-tel-input.svg)no-repeat;
    width: 22px;
    height: 22px;
    display: block;
    margin-right: 13px;
}
.input-box__name:hover::before{
    background: url(../img/icon-input-name-hover.svg)no-repeat;
}
.input-box__tel:hover::before{
    background: url(../img/icon-input-hover.svg)no-repeat;
}
.checkbox-wrapper{
    display: flex;
    align-items: center;
}
.form-checkbox__real {
	position: absolute;
    opacity: 0;
    z-index: 1;
    width: 25px;
    height: 25px;
}
.form-checkbox__real + label{
    position: relative;
    cursor: pointer;
}
.form-checkbox__real + label:after {
	content: '';
	left: 4px;
    top: 11px;
    width: 12px;
    height: 12px;
    background: none;
	transition: .2s;
    display: block;
    position: absolute;
}
.form-checkbox__real + label:before{
    content: '';
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    border: 1px solid #B3B7BB;
    background-color: transparent;
    border-radius: 10%;
    top: 5px;
}
.form-checkbox__real:checked + label::after{
	background: url(../img/checkbox-marker.svg)no-repeat;
} 
.form-checkbox__text{
    width: 228px;
    font-size: 12px;
    color: #B3B7BB;
    margin-left: 33px;
    text-align: start;
}
.form-policy{
    color: #B3B7BB;
    text-decoration: underline;
}
.form-btn{
    max-width: 313px;
    height: 59px;
    background-color: #C136A4;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    transition: all 0.5s ease;
    cursor: pointer;
    padding: 21px 100px;
    letter-spacing: 0.04em;
    margin-top: 26px;
}
.form-btn:hover{
    background-color: #DB4FBD;
}
/* ---SUCCESS-MESSAGE--- */
.success-mess{
    display: none;
    max-width: 478px;
    background-color: #FAF7F9;
    width: 100%;
    margin: 67px auto 0;
    padding: 20px;
}
.success-mess__title{
    font-size: 20px;
}
.success-mess__text{
    margin: 14px auto 0;
}

/* ----SLIDER-OFFER---- */

/* ---Общие стили */

.slider-wrapper{
    margin: 75px 0 0 0px;
    min-width: 0;
    max-width: 304px;
    position: relative;
}
.slider-wrapper::before{
    content: '';
    width: 496px;
    height: 510px;
    display: block;
    background:url(../img/circle.svg)no-repeat;
    position: absolute;
    top: -60px;
    right: -58px;
    z-index: -1;
}
.slick-track{
    display: flex;
}
.slick-list{
    overflow: hidden;
}

/* ---slider offer--- */

.slider {
 position: relative;
}
.slider .slick-arrow {
    position: absolute;
    bottom: 0px;
    right: 10px;
}
.slider .slick-arrow.slick-prev {
    left:-115px;
    background: url(../img/Arrow\ button\ left.svg) no-repeat;
    width: 33px;
    height: 16px;
    border: none;
    font-size: 0;
    cursor: pointer;
}
.slider .slick-arrow.slick-next {
    left: -11px;
    background: url(../img/Arrow\ button\ rigth.svg) no-repeat;
    width: 33px;
    height: 16px;
    border: none;
    font-size: 0;
    cursor: pointer;
}
.slider__item img {
    margin-right: 5px;
}
.radius-img{
	border-radius: 0 120px;
}

/* ---SMALL-SLIDER--- */

.slider-small{
    position: absolute;
    bottom: 53px;
    left: -113px;
    max-width: 140px;
    z-index: 0;
}
.slider-small .slick-track{
    display: flex;
}
.slider-small .slick-list{
    overflow: hidden;
}
.small-img{
	border-radius: 65px 65px 0 0;
}

/* ---OFFER-ABILITIES--- */
.abilities-btn{
    display: none;
}
.offer-abilities{
    max-width: 160px;
}
.abilities-item{
    max-width: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.abilities-item:not(:last-child){
    margin-bottom: 36px;
}
.abilities-img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.abilities-item__desc{
    font-size: 14px;
}

/* ---POPULAR-SECTION--- */

.popular{
	background: radial-gradient(25% 50% at 0% 0%, rgba(252, 213, 244, 0.7),rgba(255, 232, 250,0)),
                radial-gradient(20% 35% at 100% 35%, rgba(252, 213, 244, 0.7),rgba(255, 232, 250,0))
}
.section-title{
    display: flex;
    align-items: center;
}
.title-desc{
    max-width: 450px;
    margin-left: 57px;
    line-height: 1.4em;
}

/* ---TABS--- */

.tabs {
    margin: 36px 0 69px;
    display: flex;
    border-bottom: 1px solid #EFEFEF;
    max-width: 785px;
}
.tab{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 18px;
    color: #896982;
    transition: all 0.5 ease;
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.tab:hover{
    border-bottom: 2px solid #C136A4;
    color: #DB4FBD;
} 
.tab:not(:last-child) {
    margin-right: 75px;
}
.tab.active{
    border-bottom: 2px solid #C136A4;
    color: #301229;
}
.content{
    display: none;
}
.content.active{
    display: block;
}

/* ---SLIDER-POPULAR--- */

.contents-wrapper{
    position: relative;
    max-width: 1030px;
}
.contents-wrapper::after{
    content: '';
    width: 563px;
    height: 576px;
    display: block;
    background: url(../img/circle.svg)no-repeat center center/cover;
    position: absolute;
    top: -50px;
    right: 215px;
    z-index: -1;
}
.popular-slider{
    position: relative;
    min-width: 0; 
}
.popular-slider.slick-track{
    display: flex;
}
.popular-slider.slick-list{
    overflow: hidden;
}
.popular-slider__item{
    margin-right: 32px;
    position: relative;
}
.slider-btn{
    position: absolute;
    right: 28px;
    bottom: 140px;
    display: none;
}
.slider-btn-small{
    display: none;
}

/* ---ARROWS--- */

.popular1-arrows,
.popular2-arrows,
.popular3-arrows{
    position: absolute;
    right: -120px;
    bottom: 40%;
}
.popular1-arrows .slick-arrow.slick-disabled,
.popular2-arrows .slick-arrow.slick-disabled,
.popular3-arrows .slick-arrow.slick-disabled{
    opacity: 0.5;
} 
.popular1-arrows .slick-prev,
.popular2-arrows .slick-prev,
.popular3-arrows .slick-prev{
    right: -107px;
    top: 28%;
    background: url(../img/popular-btn-left.svg) no-repeat center center/contain;
    width: 73px;
    height: 73px;
    border: none;
    font-size: 0;
    cursor: pointer;
}
.popular1-arrows .slick-next,
.popular2-arrows .slick-next,
.popular3-arrows .slick-next{
    right: -107px;
    bottom: 28%;
    background: url(../img/popular-btn-rigth.svg) no-repeat center center/contain;
    width: 73px;
    height: 73px;
    border: none;
    font-size: 0;
    cursor: pointer;
}
.popular1-arrows .slick-prev:hover,
.popular2-arrows .slick-prev:hover,
.popular3-arrows .slick-prev:hover{
    background: url(../img/btn-left-hover.svg)no-repeat center center/contain;
}
.popular1-arrows .slick-next:hover,
.popular2-arrows .slick-next:hover,
.popular3-arrows .slick-next:hover{
    background: url(../img/btn-left-hover.svg)no-repeat center center/contain;
    transform: rotate(180deg);
}
.popular1-arrows .counter,
.popular2-arrows .counter,
.popular3-arrows .counter{
    justify-content: center;
    margin: 15px 0px;
}

/* ---CLASS FOR IMG--- */

.radius-top {
    border-radius: 150px 150px 0 0;
}
.radius-left-top {
    border-radius: 150px 0 0;
}
.radius-rigth-bottom{
    border-radius: 0 0 150px 0;
}
.item-title{
    margin: 16px 0 3px;
}
.item-price{
    font-size: 20px;
    font-weight: 500;
}
.item-one{
    color: #B3B7BB;
}

/* ---GUIDE-SECTION--- */

.guide{
    padding-top: 160px;
}
.guide-wrapper{
    display: flex;
    margin-top: 36px;
    justify-content: space-around;
}
.guide-items{
    margin-top: 27px;
}
.guide-item{
    max-width: 295px;
}
.guide-item:not(:last-child){
    margin-bottom: 45px;
}
.item-title-guide{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}
.item-counter{
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: rgba(184, 48, 155, 0.6);
    letter-spacing: 0.04em;
    margin-right: 20px;
}
.item-desc{
    font-size: 14px;
    line-height: 1.4em;
    display: flex;
    color: #896982;
}
.item-desc:not(:last-child){
    margin-bottom: 45px;
}
.item-desc:before{
    content: '';
    display: block;
    width: 1px;
    height: auto;
    background-color: rgba(184, 48, 155, 0.6);
    margin: 0 29px 0 8px;
}
.title-text.position{
    justify-content: center;
}
.guide-imgs{
    position: relative;
    margin: 0 129px 0 62px;
}
.guide-imgs::after{
    position: absolute;
    content:'';
    background: url(../img/circle-rev.svg)no-repeat;
    display: block;
    width: 477px;
    height: 488px;
    right: -77px;
    z-index: -1;
    top: -41px;
}
.guide-img-small{
    position: absolute;
    border-radius: 75px 75px 0 0;
    bottom: 21px;
    left: 242px;
}
.tel-version{
    display: none;
}

/* ---INFO-SECTION--- */

.info{
    background: radial-gradient(10% 40% at 100% 35%, rgba(252, 213, 244, 0.7),rgba(255, 232, 250,0));
    padding-top: 129px;
}
.info-wrapper{
    display: flex;
    justify-content: space-around;
}
.img-wrapper{
    position: relative;
}
.img-wrapper::after{
    content: '';
    width: 613px;
    height: 560px;
    display: block;
    background: url(../img/circle-info.svg)no-repeat;
    position: absolute;
    top: -64px;
    right: -111px;
    z-index: -1;
}
.info-img{
    border-radius: 195px 195px 0 0;
}
.info-items{
    max-width: 550px;
}
.info-item__title.title-text{
    max-width: 480px;
}
.info-item__desc{
    margin: 29px 0 53px;
    line-height: 1.5em;
}
.info-table{
    display: flex;
    justify-content: space-between;
}
.info-table__text{
    display: block;
    max-width: 150px;
    line-height: 1.5em;
}
.info-table__number{
    display: block;
    font-family: 'Prata', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #C136A4;
    margin-bottom: 10px;
}

/* ---REVIEW-SECTION--- */

.review{
    background: radial-gradient(25% 50% at 0% 50%, rgba(252, 213, 244, 0.7),rgba(255, 232, 250,0));
    padding-top: 180px;
}
.img-review{
    border-radius: 5%;
}

/* ---SLIDER-REVIEW--- */

.slider-review-wrapper{
    min-width: 0;
    position: relative;
}
.slider-review-wrapper::after{
    content:'';
    display: block;
    position: absolute;
    box-shadow: inset -30px 0px 40px 10px #faf7f9;
    width: 100%;
    height: 100%;
    top: 0px;
}
.slider-review{
    position: relative;
}
.slider-review.slick-track{
    display: flex;  
}
.slider-review.slick-list{
    overflow: hidden;
}
.slider-review__item{
    max-width: 260px;
}
.slider-review__item:not(:last-child){
    margin-right: 10px;
}

/* ---ARROWS-SLIDER-REVIEW--- */

.review-title-box{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 21px;
}
.review-arrows{
    display: flex;
    align-items: center;
    max-width: 200px;
    width: 100%;
    justify-content: space-between;
}
.review-arrows .slick-arrow.slick-disabled{
    opacity: 0.5;
}
.review-arrows .slick-prev {
    right: 155px;
    top: -95px;
    background: url(../img/popular-btn-left.svg) no-repeat center center/contain;
    width: 73px;
    height: 73px;
    border: none;
    font-size: 0;
    cursor: pointer;
}
.review-arrows .slick-next {
    right: 0;
    top:-95px;
    background: url(../img/popular-btn-rigth.svg) no-repeat center center/contain;
    width: 73px;
    height: 73px;
    border: none;
    font-size: 0;
    cursor: pointer;
}
.review-arrows .slick-prev:hover{
    background: url(../img/btn-left-hover.svg)no-repeat center center/contain;
}
.review-arrows .slick-next:hover{
    background: url(../img/btn-left-hover.svg)no-repeat center center/contain;
    transform: rotate(180deg);
}

/* ---QUESTIONS-SECTION--- */

.questions{
    padding-top: 160px;
}
.questions-wrapper{
    justify-content: space-between;
    display: flex;
}
.question-item__desc{   
    font-weight: 400;
    max-width: 511px;
    line-height: 1.5em;
    display: none;
}
.question-item__desc.show{
    display: block;
}
.questions-items{
    max-width: 585px;
    width: 100%;
    margin-top: 50px;
}
.question-item{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 30px 0;
}
.question-item::after{
    content: '';
    background: url(../img/arrow-question-off.svg)no-repeat;
    width: 26px;
    height: 26px;
    display: block;
    transition: all 0.5s ease;
}
.dagger::after{
    transform: rotate(-90deg);
}
.question-item:not(:last-child){
    border-bottom: 1px solid #F3E7F1;
}
.question-item__title{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 14px;
}
.modal-questions{
    position: relative;
    text-align: center;
    background-color: #FFFFFF;
    padding: 25px 74px;
    max-width: 460px;
    height: 378px;
    margin-right: 20px;
} 
.modal-questions::before{
    content: '';
    background: url(../img/circle-questions.svg)no-repeat;
    width: 580px;
    height: 598px;
    display: block;
    position: absolute;
    z-index: -1;
    bottom: -76px;
    right: -19px;
}
.success-quest{
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all 0.5s ease;
    background-color: #FFFFFF;
    display: block;
    margin: 0;
    z-index: -1;
}
.success-quest.look{
    top: 355px;
    z-index: 0;
}

/* ---CONTACTS-SECTION--- */

.contacts{
    background: radial-gradient(25% 50% at 0% 50%, rgba(252, 213, 244, 0.7),rgba(255, 232, 250,0));
    padding-top: 160px;
}
.contacts-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 55px;
}
.data-contacts{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 830px;
}
.phones,.address{
    padding-top: 10px;
}
.social{
    max-width: 236px;
    padding-top: 7px;
}
.social-text{
    line-height: 1.5em;
}
.social-icons,.burger-social{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    width: 190px;
}
.social-img{
    cursor: pointer;
}
.phones-title,.address-title{
    display: flex;
    align-items: center;
}
.phones-title::before{
    content: '';
    background: url(../img/icon-tel.svg)no-repeat;
    width: 18px;
    height: 18px;
    display: block;
    margin-right: 8px;
}
.phones-tel,.address-desc{
    margin: 15px 0 6px;
    font-weight: 500;
    font-size: 20px;
}
.address-title::before{
    content: '';
    background: url(../img/icon-geo.svg)no-repeat;
    width: 18px;
    height: 18px;
    display: block;
    margin-right: 8px;
}

/* ---MAP--- */

.map{
    width: 100%;
    height: 500px;
    background-color: #B3B7BB;
}

/* ---FOOTER--- */

.footer{
    padding-top: 47px;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.footer-nav{
    display: flex;
}
.section-list{
    display: flex;
    align-items: flex-end;
}
.section-list__item{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.04em;
    margin-right: 60px;
}
.privacy-policy{
    color:#B3B7BB;
    letter-spacing: 0.04em;
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease;
    cursor: auto;
}
.privacy-policy:hover{
    border-bottom: 1px solid #B3B7BB;
}
.lisence{
    color: #C7C6C6;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 17px;
}

/* ---COUTER-STYLES--- */

.counter{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.counter-num{
    color:#C136A4;
    font-size: 24px;
    margin-bottom: 11px;
}
.counter-itr-num::before{
    content: '';
    display: block;
    background-color: #B3B7BB;
    margin: 3px 2px;
    width: 1px;
    height: 27px;
    transform: rotate(35deg);
}
.counter-itr-num{
    color: #B3B7BB;
    font-size: 16px;
    display: flex;
    align-items: flex-end;
}

/* ---MAPS-CONTENT--- */

[class*='balloon']{
    box-shadow: none!important;
}
[class*='balloon__layout']{
    border-radius: 0px 65px 0px 0px;
    height: 120px;
}
[class*='balloon__content']{
    width: 230px;
    padding: 20px 25px!important;
}
[class*='balloon__close']{
   top: 7px;
   right: 25px;
}
.balloon-address{
    margin: 10px 0px 7px;
}